<h1>Recipe App</h1>
<div>
  <div class ="menu-item">
    <img class="menu-img" src="https://upload.wikimedia.org/wikipedia/commons/6/6d/Good_Food_Display_-_NCI_Visuals_Online.jpg">
    <h3><%= link_to "Foods", "/foods" %><i class="fa-solid fa-burger"></i></h3>
  </div>

  <div class ="menu-item">
    <img class="menu-img" src="https://ak.picdn.net/shutterstock/videos/1031158100/thumb/1.jpg">
    <h3><%= link_to "User's Recipes", "users/1/recipes" %> <i class="fa-solid fa-book"></i></h3>
  </div>
  
  <div class ="menu-item">
    <img class="menu-img" src="http://cdn.shopify.com/s/files/1/1365/0957/products/Untitled-4_a3355dfb-c48f-48b4-8e0b-17153d07b1da.jpg?v=1652647822">
    <h3><%= link_to "Public Recipes", "public_recipes" %> <i class="fa-solid fa-book-open"></i></h3>
  </div>

  <div class ="menu-item">
    <img class="menu-img" src="http://www.eatwell101.com/wp-content/uploads/2012/02/A-Beginner%E2%80%99s-Shopping-List.jpg">
    <h3><%= link_to "Shopping List", "general_shopping_list" %> <i class="fa-solid fa-cart-shopping"></i></h3>
  </div>
</div>
